<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


</head>
<body>
    <form id="download" action="/api/v1/file/download" method="post">
        文件名称： <input type="text" name="fileName" id="fileName"/>
        <div id="downDiv">
            <input id="downloadbtn" type="submit" value="下载文件">
        </div>
    </form>
</body>
</html>